@import url("../abyssopelagic.otf");
@import url("../exolight.otf");
@import url("../exoregular.otf");
@import url("../ailerons.otf");

@font-face { font-family: abyssopelagic; src: url("../abyssopelagic.otf"); }
@font-face { font-family: ailerons; src: url("../ailerons.otf"); }
@font-face { font-family: exo; src: url("../exoregular.otf"); }

html {
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.frame {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 1305px;
  height: 730px;
  padding-top: 15px;
  background: 
    /* top left corner */ url(../playertwo/img/topleft.webp) top
      left no-repeat,
    /* top right corner */ url(../playertwo/img/topright.webp) top right
      no-repeat,
    /* bottom left corner */ url(../playertwo/img/bottomleft.webp) bottom left
      no-repeat,
    /* bottom right corner */ url(../playertwo/img/bottomright.webp) bottom
      right no-repeat,
    /* top */ url(../playertwo/img/top.webp) top left repeat-x,
    /* bottom */ url(../playertwo/img/bottom.webp) bottom left repeat-x,
    /* left side */ url(../playertwo/img/left.webp) top left repeat-y,
    /* right side */ url(../playertwo/img/right.webp) top right repeat-y;
}

centering {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
/* GAME MENU */

.container {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 1280px;
  height: 720px;
}
.transitionBG {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}
.chatBlockTouch {
  z-index: 3;
  display: none;
  opacity: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
}

.chatBtn {
  cursor: pointer;
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/infobtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.chatBtn:hover {
  background-image: url(../playerone/img/infobtnhl.webp);
}
.chatBox {
  cursor: pointer;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 1000px;
  height: 200px;
  background-image: url(../playerone/img/chatbox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.checkPlayertwo {
  font-family: "Exo";
  position: absolute;
  top: 45px;
  left: 60px;
  font-size: 24px;
}
#chatGuide {
  color: #cce9ef;
  font-family: "Exo";
  position: absolute;
  top: 90px;
  left: 50px;
  font-size: 24px;
}
.chatTriangle {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 35px;
  height: 35px;
  background-color: #99afb7;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  animation: jumpstat 0.3s linear infinite;
  animation-direction: alternate;
}
@keyframes jumpstat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
.inventoryBtn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/inventorybtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBtn:hover {
  background-image: url(../playerone/img/inventorybtnhl.webp);
}
.inventoryBox {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 600px;
  height: 458px;
  background-image: url(../playerone/img/inventorybox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBox .items {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 65px;
  height: 65px;
}

.inventoryBox .x1 {
  left: 30px;
}
.inventoryBox .x2 {
  left: 125px;
}
.inventoryBox .x3 {
  left: 220px;
}
.inventoryBox .x4 {
  left: 315px;
}
.inventoryBox .x5 {
  left: 410px;
}
.inventoryBox .x6 {
  left: 505px;
}
.inventoryBox .y1 {
  top: 88px;
}
.inventoryBox .y2 {
  top: 178px;
}
.inventoryBox .y3 {
  top: 268px;
}
.inventoryBox .y4 {
  top: 358px;
}
.itemBox1 {
  background-image: url(../playerone/img/itemwalkietalkie.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.itemAcquiredBox {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 150px;
  width: 400px;
  height: 160px;
  background-image: url(../playerone/img/itemacquired.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.itemAcquiredBox .itemAcquiredImage {
  position: absolute;
  background-image: url(../playerone/img/itemwalkietalkie.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 75px;
  height: 75px;
  top: 50px;
  left: 30px;
}
.itemAcquiredBox .itemAcquiredText {
  font-family: "Ailerons";
  color: #00374b;
  text-align: left;
  font-size: 28px;
  position: absolute;
  margin: 0 auto;
  left: 125px;
  top: 40px;
  width: 300px;
}
.itemAcquiredBox .itemAcquiredName {
  font-family: "Exo";
  color: #00374b;
  text-align: left;
  font-size: 20px;
  position: absolute;
  margin: 0 auto;
  left: 130px;
  top: 80px;
  width: 300px;
}

/* PUZZLE COUNTERS */
.anna01Counter {
  display: none;
}
/* ACT 01 */
.act01 {
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 720px;
  position: absolute;
}

/* ini control room  */
.act01 .controlRoomBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/controlroom.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlRoomBG .btnGate {
  cursor: pointer;
  top: 310px;
  left: 340px;
  text-align: center;
  margin: auto 0;
  width: 200px;
  height: 265px;
  position: absolute;
  background-image: url(../playertwo/img/bunkergate.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlRoomBG .btnGate:hover {
  background-image: url(../playertwo/img/bunkergatehl.webp);
}
.controlRoomBG .btnLeft {
  cursor: pointer;
  top: -100px;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlRoomBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.btnAnna01 {
  cursor: pointer;
  right: 0;
  left: 0;
  bottom: 252px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 69px;
  position: absolute;
  background-image: url(../playertwo/img/anna01panel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnAnna01:hover {
  background-image: url(../playertwo/img/anna01panelhl.webp);
}
.controlRoomBG .btnLocker {
  cursor: pointer;
  left: 5px;
  bottom: 139px;
  text-align: center;
  margin: 0 auto;
  width: 105px;
  height: 221px;
  position: absolute;
  background-image: url(../playertwo/img/locker.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlRoomBG .btnLocker:hover {
  bottom: 126px;
  width: 111px;
  height: 235px;
  background-image: url(../playertwo/img/lockerhl.webp);
}

.controlRoomBG .btnControlPanel {
  cursor: pointer;
  right: 300px;
  top: 280px;
  text-align: center;
  margin: 0 auto;
  width: 275px;
  height: 169px;
  position: absolute;
  background-image: url(../playertwo/img/controlpanel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnControlPanel:hover {
  background-image: url(../playertwo/img/controlpanelhl.webp);
}

.controlRoomBG .lockerBG {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 666px;
  width: 341px;
  top: 10px;
  position: absolute;
  background-image: url(../playertwo/img/controllocker.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.lockerBook {
  cursor: pointer;
  position: absolute;
  top: 380px;
  right: 50px;
  width: 145px;
  height: 42px;
  background-image: url(../playertwo/img/lockerbook.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.lockerBook:hover {
  background-image: url(../playertwo/img/lockerbookhl.webp);
}

/* ini komputer yang buat njawab riddlenya anna  */
.act01 .anna01BG {
  color: #d2fffd;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/anna01.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .monitorTime {
  font-family: "Abyssopelagic", Roboto;
  color: black;
  font-size: 80px;
  -webkit-text-stroke: 4px black;
  position: absolute;
  top: 130px;
  right: 0;
  left: -25px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 140px;
}
.hourTime {
  position: absolute;
  left: 70px;
  text-align: center;
  margin: 0 auto;
}
.colonTime {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.minuteTime {
  position: absolute;
  right: 70px;
  text-align: center;
  margin: 0 auto;
}
.anna01BG .input01 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  right: 504px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .input02 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  text-align: center;
  top: 335px;
  right: 417px;
  margin: 0 auto;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .input03 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  right: 330px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput01 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  left: 297px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput02 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  text-align: center;
  top: 335px;
  left: 384px;
  margin: 0 auto;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput03 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  left: 471px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labBtn01 {
  cursor: pointer;
  top: 425px;
  left: 297px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn02 {
  cursor: pointer;
  top: 425px;
  left: 384px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn03 {
  cursor: pointer;
  top: 425px;
  left: 471px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn01:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .labBtn02:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .labBtn03:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}
.anna01BG .btn01 {
  cursor: pointer;
  top: 425px;
  right: 504px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn02 {
  cursor: pointer;
  top: 425px;
  right: 417px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn03 {
  cursor: pointer;
  top: 425px;
  right: 330px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn01:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btn02:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btn03:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btnSubmit {
  cursor: pointer;
  right: 320px;
  bottom: 210px;
  text-align: center;
  margin: 0 auto;
  width: 138px;
  height: 34px;
  position: absolute;
  background-image: url(../playertwo/img/anna01submit.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btnSubmit:hover {
  background-image: url(../playertwo/img/anna01submithl.webp);
}

.anna01BG .btnBack {
  cursor: pointer;
  right: 470px;
  bottom: 210px;
  text-align: center;
  margin: 0 auto;
  width: 138px;
  height: 34px;
  position: absolute;
  background-image: url(../playertwo/img/anna01back.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btnBack:hover {
  background-image: url(../playertwo/img/anna01backhl.webp);
}
.anna01BG .indicator {
  position: absolute;
  margin: 0 auto;
  right: 270px;
  bottom: 130px;
  width: 150px;
  height: 40px;
  background-color: #333;
}

/* ini notenya byu  */
.byUBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/byunotes.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.byUBG .btnBack {
  cursor: pointer;
  top: 70px;
  right: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  height: 38px;
  position: absolute;
  background-image: url(../playerone/img/backbtnbig.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.byUBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnbighl.webp);
}

/* ini monitor yang gede. yang control panel  */
.controlPanelBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/controlpanel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlPanelBG .btnByU {
  cursor: pointer;
  bottom: 30px;
  right: 120px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url(../playertwo/img/btnbyu.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlPanelBG .btnByU:hover {
  background-image: url(../playertwo/img/btnbyuhl.webp);
}
.controlPanelBG .btnBack {
  cursor: pointer;
  top: 70px;
  right: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  height: 38px;
  position: absolute;
  background-image: url(../playerone/img/backbtnbig.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.controlPanelBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnbighl.webp);
}

/* ini yang ngisi password di control panel / login di awal  */
.controlPanelBG .panelLoginScreen {
  position: absolute;
  top: 166px;
  margin: 0 auto;
  left: -50px;
  right: 0;
  width: 900px;
  height: 500px;
  background-image: url(../playertwo/img/controlpanelscreen.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelLoginScreen .passInput {
  right: 0;
  left: 0;
  bottom: 160px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
.panelLoginScreen .panelPassInput {
  color: #00374b;
  text-align: center;
  font-family: "Exo";
  font-size: 20px;
  background: transparent;
  border: none;
  position: absolute;
  top: -20px;
  left: -8px;
  right: 0;
  margin: 0 auto;
  width: 220px;
  height: 21px;
}
.panelLoginScreen .panelPassInput:focus {
  outline: none;
}
.panelLoginScreen .panelPassInput::placeholder {
  color: #335f6f !important;
}
.panelLoginScreen .submitInput {
  cursor: pointer;
  right: 0;
  left: -15px;
  bottom: 100px;
  text-align: center;
  margin: 0 auto;
  width: 138px;
  height: 40px;
  position: absolute;
  background-image: url(../playertwo/img/anna01submit.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.panelLoginScreen .submitInput:hover {
  background-image: url(../playertwo/img/anna01submithl.webp);
}

/* ini yang abis login. yang ada tempat buat milih cctv & floor  */
.controlPanelBG .panelLoggedinScreen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 166px;
  margin: 0 auto;
  left: -50px;
  right: 0;
  width: 900px;
  height: 500px;
  background-image: url(../playertwo/img/controlpanelscreenloggedin.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelLoggedinScreen .panelCCTV {
  cursor: pointer;
  position: absolute;
  top: 105px;
  margin: 0 auto;
  left: 130px;
  width: 230px;
  height: 221px;
  background-image: url(../playertwo/img/controlcctv.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelLoggedinScreen .panelFloorBtn {
  cursor: pointer;
  position: absolute;
  top: 155px;
  margin: 0 auto;
  right: 60px;
  width: 300px;
  height: 200px;
  background-image: url(../playertwo/img/btnfloorselection.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelLoggedinScreen .panelFloorBtn:hover {
  background-image: url(../playertwo/img/btnfloorselectionhl.webp);
}

.panelLoggedinScreen .panelTime {
  font-family: "Abyssopelagic", Roboto;
  color: #99d4df;
  font-size: 60px;
  -webkit-text-stroke: 4px#99D4DF;
  position: absolute;
  top: 40px;
  right: -15px;
  text-align: center;
  margin: 0 auto;
  width: 330px;
  height: 140px;
}

/* ini yang milih floor  */
.controlPanelBG .panelFloorSelectionScreen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 166px;
  margin: 0 auto;
  left: -50px;
  right: 0;
  width: 900px;
  height: 500px;
  background-image: url(../playertwo/img/floorselection.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelFloorSelectionScreen .floor5btn {
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  margin: 0 auto;
  left: -120px;
  right: 0;
  width: 80px;
  height: 40px;
  background-image: url(../playertwo/img/btnfloor5.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelFloorSelectionScreen .floor5btn:hover {
  background-image: url(../playertwo/img/btnfloor5hl.webp);
}
.panelFloorSelectionScreen .btnScreenBack {
  cursor: pointer;
  top: 30px;
  left: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  position: absolute;
  background-image: url(../playertwo/img/btnback.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelFloorSelectionScreen .btnScreenBack:hover {
  background-image: url(../playertwo/img/btnbackhl.webp);
}

/* ini yang buat buka gate  */
.controlPanelBG .panelAccessPointsScreen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 166px;
  margin: 0 auto;
  left: -50px;
  right: 0;
  width: 900px;
  height: 500px;
  background-image: url(../playertwo/img/gateaccesscontrolscreen.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .floorSelectionWindow {
  position: absolute;
  top: 90px;
  margin: 0 auto;
  left: 24px;
  width: 225px;
  height: 265px;
  background-image: url(../playertwo/img/floorselectionwindow.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .gateSelectionWindow {
  position: absolute;
  top: 90px;
  margin: 0 auto;
  left: 260px;
  width: 351px;
  height: 265px;
  background-image: url(../playertwo/img/gateselectionwindow.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .gatePasswordWindow {
  position: absolute;
  top: 90px;
  margin: 0 auto;
  right: 18px;
  width: 262px;
  height: 265px;
  background-image: url(../playertwo/img/gatepasswordwindow.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .gate05btn {
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  width: 105px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .lock {
  top: 5px;
  right: 10px;
  width: 32px;
  height: 40px;
  position: absolute;
  margin: 0 auto;
  background-image: url(../playertwo/img/locked.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .gate05a {
  top: 40px;
  left: 10px;
  background-image: url(../playertwo/img/gate05abtn.webp);
}
.panelAccessPointsScreen .gate05a:hover {
  background-image: url(../playertwo/img/gate05abtnhl.webp);
}
.panelAccessPointsScreen .gate05b {
  top: 40px;
  left: 0;
  right: 0;
  background-image: url(../playertwo/img/gate05bbtn.webp);
}
.panelAccessPointsScreen .gate05b:hover {
  background-image: url(../playertwo/img/gate05bbtnhl.webp);
}
.panelAccessPointsScreen .gate05c {
  top: 40px;
  right: 10px;
  background-image: url(../playertwo/img/gate05cbtn.webp);
}
.panelAccessPointsScreen .gate05c:hover {
  background-image: url(../playertwo/img/gate05cbtnhl.webp);
}
.panelAccessPointsScreen .gate05d {
  top: 100px;
  left: 10px;
  background-image: url(../playertwo/img/gate05dbtn.webp);
}
.panelAccessPointsScreen .gate05d:hover {
  background-image: url(../playertwo/img/gate05dbtnhl.webp);
}
.panelAccessPointsScreen .gate05e {
  top: 100px;
  left: 0;
  right: 0;
  background-image: url(../playertwo/img/gate05ebtn.webp);
}
.panelAccessPointsScreen .gate05e:hover {
  background-image: url(../playertwo/img/gate05ebtnhl.webp);
}
.panelAccessPointsScreen .gate05f {
  top: 100px;
  right: 10px;
  background-image: url(../playertwo/img/gate05fbtn.webp);
}
.panelAccessPointsScreen .gate05f:hover {
  background-image: url(../playertwo/img/gate05fbtnhl.webp);
}
.panelAccessPointsScreen .gate05g {
  top: 160px;
  left: 10px;
  background-image: url(../playertwo/img/gate05gbtn.webp);
}
.panelAccessPointsScreen .gate05g:hover {
  background-image: url(../playertwo/img/gate05gbtnhl.webp);
}
.panelAccessPointsScreen .gate05h {
  top: 160px;
  left: 0;
  right: 0;
  background-image: url(../playertwo/img/gate05hbtn.webp);
}
.panelAccessPointsScreen .gate05h:hover {
  background-image: url(../playertwo/img/gate05hbtnhl.webp);
}
.panelAccessPointsScreen .gate05i {
  top: 160px;
  right: 10px;
  background-image: url(../playertwo/img/gate05ibtn.webp);
}
.panelAccessPointsScreen .gate05i:hover {
  background-image: url(../playertwo/img/gate05ibtnhl.webp);
}
.panelAccessPointsScreen .gateName {
  position: absolute;
  font-family: "Ailerons";
  color: #99d4df;
  top: 50px;
  left: 7px;
  font-size: 32px;
}
.gateInput {
  right: 0;
  left: 0;
  bottom: 60px;
  width: 180px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playertwo/img/gateinput.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gatePassInput {
  color: #00374b !important;
  text-align: center;
  font-family: "Exo";
  font-size: 14px;
  background: transparent;
  text-align: center;
  border: none;
  padding: 0;
  width: inherit;
  height: inherit;
}

.gatePassInput:focus {
  outline: none;
}
.gatePassInput::placeholder {
  color: #335f6f !important;
}
.panelAccessPointsScreen .submitInput {
  cursor: pointer;
  right: 0;
  left: 0;
  bottom: 15px;
  text-align: center;
  margin: 0 auto;
  width: 90px;
  height: 35px;
  position: absolute;
  background-image: url(../playertwo/img/gatsubmitbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .submitInput:hover {
  background-image: url(../playertwo/img/gatesubmitbtnhl.webp);
}
.panelAccessPointsScreen .btnScreenBack {
  cursor: pointer;
  top: 10px;
  right: 20px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  position: absolute;
  background-image: url(../playertwo/img/btnback.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelAccessPointsScreen .btnScreenBack:hover {
  background-image: url(../playertwo/img/btnbackhl.webp);
}

/* ini tempat radio  */
.act01 .radioRoomBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/radioroombg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.radioRoomBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.radioRoomBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.radioRoomBG .btnRadio {
  cursor: pointer;
  position: absolute;
  top: 268px;
  right: 500px;
  width: 145px;
  height: 130px;
  background-image: url(../playertwo/img/radiobox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.radioRoomBG .btnRadio:hover {
  background-image: url(../playertwo/img/radioboxhl.webp);
}
.radioRoomBG .btnGlyphs {
  cursor: pointer;
  position: absolute;
  top: 150px;
  left: 0;
  width: 275px;
  height: 350px;
  background-image: url(../playertwo/img/glyphboard.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.radioRoomBG .btnGlyphs:hover {
  background-image: url(../playertwo/img/glyphboardhl.webp);
}

/* ini papan glyph */
.act01 .glyphBoardBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/glyphboardbg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.glyphBoardBG .btnBack {
  cursor: pointer;
  top: 70px;
  right: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  height: 38px;
  position: absolute;
  background-image: url(../playerone/img/backbtnbig.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.glyphBoardBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnbighl.webp);
}

/*! ini final stage */
.finalStage {
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 720px;
  position: absolute;
}
/* waiting for other players */
.finalStage .finalPromptBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../final/bg/finalprompt.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .promptMenu {
  visibility: hidden;
  opacity: 0;
}
.finalPromptBG .promptTitle{
  z-index: 5;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
  position: absolute;
  background-image: url(../final/img/prompttext.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .playerFrame {
  z-index: 5;
  font-family: "Ailerons";
  color: #00374b;
  cursor: pointer;
  top: 140px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 420px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.playerFrame .playerName {
  font-size: 36px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 95px;
}
.playerFrame.framePlayerOne {
  left: 100px;
  background-image: url(../final/img/a.webp);
}
.playerFrame.framePlayerTwo {
  left: 0;
  right: 0;
  background-image: url(../final/img/b.webp);
}
.playerFrame.framePlayerThree {
  right: 100px;
  background-image: url(../final/img/c.webp);
}

.finalPromptBG .playerIndicator {
  z-index: 5;
  top: 570px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  position: absolute;
  background-image: url(../final/img/finalindicator.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.playerIndicator.indicatorPlayerOne {
  left: 100px;
}
.playerIndicator.indicatorPlayerTwo {
  right: 0;
  left: 0;
}
.playerIndicator.indicatorPlayerThree {
  right: 100px;
}

.playerIndicator .indicatorLight {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 295px;
  height: 35px;
  border-radius: 10px;
  background-color: #d96368;
}

.finalPromptBG .btnStart{
  z-index: 5;
  cursor: pointer;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  position: absolute;
  background-image: url(../final/img/finalstart.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalPromptBG .btnStart:hover {
  background-image: url(../final/img/finalstarthl.webp);
}
/* final choice */
.finalStage .podStationBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../final/bg/finalchoice.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .finalChoiceMenu {
  visibility: hidden;
  opacity: 0;
}
.podStationBG .choiceTitle{
  z-index: 5;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
  position: absolute;
  background-image: url(../final/img/choicetext.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.podStationBG .btnConfirm{
  z-index: 5;
  cursor: pointer;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  position: absolute;
  background-image: url(../final/img/finalconfirm.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.podStationBG .btnConfirm:hover {
  background-image: url(../final/img/finalconfirmhl.webp);
}

/* jeng jeng jeng jeng */
.finalStage .finalWaitBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00374b;
}