@import url("../abyssopelagic.otf");
@import url("../exolight.otf");
@import url("../exoregular.otf");
html {
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

centering {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
/* GAME MENU */
.container{
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 1280px;
  height: 720px;
}
.transitionBG {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}
.chatBlockTouch {
  z-index: 3;
  display: none;
  opacity: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
}

.chatBtn {
  cursor: pointer;
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/infobtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.chatBtn:hover {
  background-image: url(../playerone/img/infobtnhl.webp);
}
.chatBox {
  cursor: pointer;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 1000px;
  height: 200px;
  background-image: url(../playerone/img/chatbox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.checkPlayertwo {
  font-family: "Exo";
  position: absolute;
  top: 45px;
  left: 60px;
  font-size: 24px;
}
#chatGuide {
  color: #cce9ef;
  font-family: "Exo";
  position: absolute;
  top: 90px;
  left: 50px;
  font-size: 24px;
}
.chatTriangle {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 35px;
  height: 35px;
  background-color: #99afb7;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  animation: jumpstat 0.3s linear infinite;
  animation-direction: alternate;
}
@keyframes jumpstat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
.inventoryBtn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/inventorybtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBtn:hover {
  background-image: url(../playerone/img/inventorybtnhl.webp);
}
.inventoryBox {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 600px;
  height: 458px;
  background-image: url(../playerone/img/inventorybox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBox .items {
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 65px;
  height: 65px;
}

.inventoryBox .x1 {
  left: 30px;
}
.inventoryBox .x2 {
  left: 125px;
}
.inventoryBox .x3 {
  left: 220px;
}
.inventoryBox .x4 {
  left: 315px;
}
.inventoryBox .x5 {
  left: 410px;
}
.inventoryBox .x6 {
  left: 505px;
}
.inventoryBox .y1 {
  top: 88px;
}
.inventoryBox .y2 {
  top: 178px;
}
.inventoryBox .y3 {
  top: 268px;
}
.inventoryBox .y4 {
  top: 358px;
}
.itemBox1 {
  background-image: url(../playerone/img/itemwalkietalkie.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

/* PUZZLE COUNTERS */
.anna01Counter {
  display: none;
}
/* ACT 01 */
.act01 {
  right: 0;
  left: 0;
  top: 10px;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 720px;
  position: absolute;
}

.act01 .controlRoomBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/controlroom.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.act01 .anna01BG {
  color: #d2fffd;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playertwo/bg/anna01.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .monitorTime {
  font-family: "Abyssopelagic", Roboto;
  color: black;
  font-size: 80px;
  -webkit-text-stroke: 4px black;
  z-index: 22;
  position: absolute;
  top: 130px;
  right: 0;
  left: -25px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 140px;
}
#hourTime {
  position: absolute;
  left: 70px;
  text-align: center;
  margin: 0 auto;
}
#colonTime {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
#minuteTime {
  position: absolute;
  right: 70px;
  text-align: center;
  margin: 0 auto;
}
.btnAnna01 {
  cursor: pointer;
  right: 0;
  left: 0;
  bottom: 252px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 69px;
  position: absolute;
  background-image: url(../playertwo/img/anna01panel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnAnna01:hover {
  background-image: url(../playertwo/img/anna01panelhl.webp);
}
.anna01BG .input01 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  right: 504px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .input02 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  text-align: center;
  top: 335px;
  right: 417px;
  margin: 0 auto;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .input03 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  right: 330px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput01 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  left: 297px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput02 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  text-align: center;
  top: 335px;
  left: 384px;
  margin: 0 auto;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labInput03 {
  font-family: "Abyssopelagic", Roboto;
  font-size: 62px;
  position: absolute;
  top: 335px;
  left: 471px;
  text-align: center;
  width: 60px;
  height: 80px;
  background-color: #33859f;
}
.anna01BG .labBtn01 {
  cursor: pointer;
  top: 425px;
  left: 297px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn02 {
  cursor: pointer;
  top: 425px;
  left: 384px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn03 {
  cursor: pointer;
  top: 425px;
  left: 471px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .labBtn01:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .labBtn02:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .labBtn03:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}
.anna01BG .btn01 {
  cursor: pointer;
  top: 425px;
  right: 504px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn02 {
  cursor: pointer;
  top: 425px;
  right: 417px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn03 {
  cursor: pointer;
  top: 425px;
  right: 330px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  height: 19px;
  background-image: url(../playertwo/img/anna01btn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btn01:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btn02:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btn03:hover {
  background-image: url(../playertwo/img/anna01btnhl.webp);
}

.anna01BG .btnSubmit {
  cursor: pointer;
  right: 320px;
  bottom: 210px;
  text-align: center;
  margin: 0 auto;
  width: 138px;
  height: 34px;
  position: absolute;
  background-image: url(../playertwo/img/anna01submit.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btnSubmit:hover {
  background-image: url(../playertwo/img/anna01submithl.webp);
}

.anna01BG .btnBack {
  cursor: pointer;
  right: 470px;
  bottom: 210px;
  text-align: center;
  margin: 0 auto;
  width: 138px;
  height: 34px;
  position: absolute;
  background-image: url(../playertwo/img/anna01back.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.anna01BG .btnBack:hover {
  background-image: url(../playertwo/img/anna01backhl.webp);
}
.anna01BG .indicator {
  position: absolute;
  margin: 0 auto;
  right: 270px;
  bottom: 130px;
  width: 150px;
  height: 40px;
  background-color: #333;
}