@import url("../abyssopelagic.otf");
@import url("../exolight.otf");
@import url("../exoregular.otf");
@import url("../ailerons.otf");

@font-face {
  font-family: abyssopelagic;
  src: url("../abyssopelagic.otf");
}
@font-face {
  font-family: ailerons;
  src: url("../ailerons.otf");
}
@font-face {
  font-family: exo;
  src: url("../exoregular.otf");
}

html {
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
body {
  background-image: url(../playertwo/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.frame {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 1305px;
  height: 730px;
  padding-top: 15px;
  background: 
    /* top left corner */ url(../playertwo/img/topleft.webp) top
      left no-repeat,
    /* top right corner */ url(../playertwo/img/topright.webp) top right
      no-repeat,
    /* bottom left corner */ url(../playertwo/img/bottomleft.webp) bottom left
      no-repeat,
    /* bottom right corner */ url(../playertwo/img/bottomright.webp) bottom
      right no-repeat,
    /* top */ url(../playertwo/img/top.webp) top left repeat-x,
    /* bottom */ url(../playertwo/img/bottom.webp) bottom left repeat-x,
    /* left side */ url(../playertwo/img/left.webp) top left repeat-y,
    /* right side */ url(../playertwo/img/right.webp) top right repeat-y;
}
centering {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}

/* GAME MENU */
.container {
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 1280px;
  height: 720px;
}
.transitionBG {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}
.chatBlockTouch {
  z-index: 3;
  display: none;
  opacity: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
}

.chatBtn {
  cursor: pointer;
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/infobtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.chatBtn:hover {
  background-image: url(../playerone/img/infobtnhl.webp);
}
.chatBox {
  cursor: pointer;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 1000px;
  height: 200px;
  background-image: url(../playerone/img/chatbox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.checkPlayerone {
  font-family: "Exo";
  position: absolute;
  top: 45px;
  left: 60px;
  font-size: 24px;
}
#chatGuide {
  color: #cce9ef;
  font-family: "Exo";
  position: absolute;
  top: 90px;
  left: 50px;
  font-size: 24px;
}
.chatTriangle {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 35px;
  height: 35px;
  background-color: #99afb7;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  animation: jumpstat 0.3s linear infinite;
  animation-direction: alternate;
}
@keyframes jumpstat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
.inventoryBtn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../playerone/img/inventorybtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBtn:hover {
  background-image: url(../playerone/img/inventorybtnhl.webp);
}
.soundBtn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../final/img/btnsound.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.soundBtn:hover {
  background-image: url(../final/img/btnsoundhl.webp);
}
.muteBtn {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 100px;
  height: 100px;
  background-image: url(../final/img/btnmute.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.muteBtn:hover {
  background-image: url(../final/img/btnmutehl.webp);
}
.inventoryBox {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 600px;
  height: 458px;
  background-image: url(../playerone/img/inventorybox.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.inventoryBox .items {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 65px;
  height: 65px;
}

.inventoryBox .x1 {
  left: 30px;
}
.inventoryBox .x2 {
  left: 125px;
}
.inventoryBox .x3 {
  left: 220px;
}
.inventoryBox .x4 {
  left: 315px;
}
.inventoryBox .x5 {
  left: 410px;
}
.inventoryBox .x6 {
  left: 505px;
}
.inventoryBox .y1 {
  top: 88px;
}
.inventoryBox .y2 {
  top: 178px;
}
.inventoryBox .y3 {
  top: 268px;
}
.inventoryBox .y4 {
  top: 358px;
}
.itemBox1 {
  background-image: url(../playerone/img/itemwalkietalkie.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.itemAcquiredBox {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 150px;
  width: 400px;
  height: 160px;
  background-image: url(../playerone/img/itemacquired.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.itemAcquiredBox .itemAcquiredImage {
  position: absolute;
  background-image: url(../playerone/img/itemwalkietalkie.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 75px;
  height: 75px;
  top: 50px;
  left: 30px;
}
.itemAcquiredBox .itemAcquiredText {
  font-family: "Ailerons";
  color: #00374b;
  text-align: left;
  font-size: 28px;
  position: absolute;
  margin: 0 auto;
  left: 125px;
  top: 40px;
  width: 300px;
}
.itemAcquiredBox .itemAcquiredName {
  font-family: "Exo";
  color: #00374b;
  text-align: left;
  font-size: 20px;
  position: absolute;
  margin: 0 auto;
  left: 130px;
  top: 80px;
  width: 300px;
}

.questionTwo {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 404px;
  height: 360px;
  top: 100px;
  position: absolute;
  background-image: url(../playerone/img/popuptwo.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.popUpHeader {
  font-family: "Ailerons";
  color: #00374b;
  font-size: 42px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20px;
}
.popUpSub {
  font-family: "Exo";
  color: #00374b;
  font-size: 20px;
  position: absolute;
  margin: 0 auto;
  left: -10px;
  right: 0;
  top: 83px;
}
.selectA {
  cursor: pointer;
  top: 130px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 350px;
  height: 75px;
  position: absolute;
  background-image: url(../playerone/img/popupa.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.selectA a {
  font-family: "Exo";
  color: #00374b;
  position: absolute;
  left: 90px;
  font-size: 27px;
  top: 19px;
}
.selectA:hover {
  background-image: url(../playerone/img/popupahl.webp);
}
.selectB {
  cursor: pointer;
  top: 225px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 350px;
  height: 75px;
  position: absolute;
  background-image: url(../playerone/img/popupb.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.selectB a {
  font-family: "Exo";
  color: #00374b;
  position: absolute;
  left: 90px;
  font-size: 27px;
  top: 19px;
}
.selectB:hover {
  background-image: url(../playerone/img/popupbhl.webp);
}

/* lab */
.act01 {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 720px;
  position: absolute;
}
.act01 .labBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/lab.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labBG .btnBack {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.btnAnna01Note {
  cursor: pointer;
  bottom: 285px;
  left: 380px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../playerone/img/labnotes.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnAnna01Note:hover {
  bottom: 282px;
  left: 378px;
  width: 35px;
  height: 35px;
  background-image: url(../playerone/img/labnoteshl.webp);
}
.btnLabCoat {
  cursor: pointer;
  top: 320px;
  right: 85px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 130px;
  height: 245px;
  position: absolute;
  background-image: url(../playerone/img/labcoat.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnLabCoat:hover {
  background-image: url(../playerone/img/labcoathl.webp);
}

/* labnote */

.act01 .labNoteBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/labnote.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labNoteBG .btnBack {
  cursor: pointer;
  top: 70px;
  right: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  height: 38px;
  position: absolute;
  background-image: url(../playerone/img/backbtnbig.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labNoteBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnbighl.webp);
}

/* outside */

.act01 .outsideLab {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/outsidelab.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.outsideLab .outsideBigDoor {
  cursor: pointer;
  top: 227px;
  left: 0;
  right: -75px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 350px;
  position: absolute;
  background-image: url(../playerone/img/bigdoor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.outsideLab .outsideBigDoor:hover {
  background-image: url(../playerone/img/bigdoorhl.webp);
}
.outsideLab .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.outsideLab .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

/* pertigaan */

.act01 .threeLab {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/threelab.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.threeLab .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 250px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.threeLab .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.threeLab .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 250px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.threeLab .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.threeLab .btnDown {
  cursor: pointer;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.threeLab .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* * ini jalur ke kanan */
/* otw ke bridge */
.act01 .doorToBridge {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/doortobridge.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bridgeDoor {
  cursor: pointer;
  top: 268px;
  left: -250px;
  right: 0px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 311px;
  position: absolute;
  background-image: url(../playerone/img/bridgedoor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bridgeDoor:hover {
  top: 262px;
  width: 210px;
  height: 326px;
  background-image: url(../playerone/img/bridgedoorhl.webp);
}
.doorToBridge .bridgeDoorLock {
  cursor: pointer;
  top: 330px;
  right: -75px;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 50px;
  height: 101px;
  position: absolute;
  background-image: url(../playerone/img/bridgelock.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.doorToBridge .bridgeDoorLock:hover {
  width: 55px;
  height: 111px;
  background-image: url(../playerone/img/bridgelockhl.webp);
}
.doorToBridge .btnDown {
  cursor: pointer;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.doorToBridge .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* jembatan */

.act01 .bridgeToMainLab {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/bridgetolablocked.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnReiner01Panel {
  cursor: pointer;
  bottom: 60px;
  right: 92px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 175px;
  position: absolute;
  background-image: url(../playerone/img/bridgepanel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnReiner01Panel:hover {
  background-image: url(../playerone/img/bridgepanelhl.webp);
}
.bridgeLift {
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 547px;
  position: absolute;
  background-image: url(../playerone/img/bridgelift.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bridgeLift:hover {
  background-image: url(../playerone/img/bridgelifthl.webp);
}
.bridgeToMainLab .btnDown {
  cursor: pointer;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bridgeToMainLab .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* panelnya reiner */

.act01 .bridgePanelBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/bridgepanel.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.switch1 {
  top: 150px;
}
.switch2 {
  top: 212px;
}
.switch3 {
  top: 274px;
}
.switch4 {
  top: 336px;
}
.switch5 {
  top: 398px;
}

.bridgePanelBG .switch {
  left: 200px;
  width: 60px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  background-image: url(../playerone/img/switchoff.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.panelInput {
  left: 280px;
  width: 245px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/panelinput.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.panelBridgeInput {
  color: #eeeeee !important;
  text-align: center;
  font-family: "Exo";
  font-size: 20px;
  background: transparent;
  text-align: left;
  border: none;
  width: inherit;
  height: inherit;
}

.panelBridgeInput:focus {
  outline: none;
}
.panelBridgeInput::placeholder {
  color: #eeeeee !important;
}

.panelInput1 {
  top: 150px;
}
.panelInput2 {
  top: 212px;
}
.panelInput3 {
  top: 274px;
}
.panelInput4 {
  top: 336px;
}
.panelInput5 {
  top: 398px;
}

.panelLight {
  left: 535px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/panellight.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.panelLight1 {
  top: 148px;
}
.panelLight2 {
  top: 210px;
}
.panelLight3 {
  top: 272px;
}
.panelLight4 {
  top: 334px;
}
.panelLight5 {
  top: 396px;
}
.panelLightCSS {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-color: #333;
  top: 8px;
  left: 8px;
}
.panelSubmitBtn {
  cursor: pointer;
  top: 342px;
  right: 222px;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(../playerone/img/panelbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.panelSubmitBtn:hover {
  background-image: url(../playerone/img/panelbtnhl.webp);
}
.bridgePanelBG .btnBack {
  cursor: pointer;
  top: 70px;
  right: 10px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  height: 38px;
  position: absolute;
  background-image: url(../playerone/img/backbtnbig.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.bridgePanelBG .btnBack:hover {
  background-image: url(../playerone/img/backbtnbighl.webp);
}

/* * de main lab */
/* ini lift di mainlab */
.mainLabLift {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlablift.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabLift .btnLift {
  cursor: pointer;
  top: 400px;
  left: 180px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 25px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/liftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabLift .btnLift:hover {
  width: 30px;
  height: 60px;
  background-image: url(../playerone/img/liftbtnhl.webp);
}

.mainLabLift .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabLift .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabLift .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabLift .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.mainLabLift .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.mainLabLift .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* main lab work table yang ada polaroidnya */
.mainLabWorktable {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabworktable.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.mainLabWorktable .btnCamera {
  cursor: pointer;
  top: 360px;
  left: 350px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 130px;
  height: 80px;
  position: absolute;
  background-image: url(../playerone/img/camera.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnCamera:hover {
  background-image: url(../playerone/img/camerahl.webp);
}

.mainLabWorktable .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWorktable .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabWorktable .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWorktable .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabWorktable .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWorktable .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* mainlab with tabung chemical */
.mainLabChemical {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabchemical.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.mainLabChemical .btnChemicals {
  cursor: pointer;
  top: 250px;
  right: -100px;
  left: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  height: 190px;
  position: absolute;
  background-image: url(../playerone/img/labThings.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnChemicals:hover {
  background-image: url(../playerone/img/labThingshl.webp);
}
.mainLabChemical .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabChemical .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabChemical .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabChemical .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabChemical .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabChemical .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* ini tangga mainlab */
.mainLabStairs {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabstairs.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.mainLabStairs .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabStairs .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabStairs .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabStairs .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabStairs .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabStairs .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
.mainLabStairs .btnUp {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabStairs .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}

/* ini monitor gede */
.mainLabMonitor {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabmonitor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.mainLabMonitor .btnHugeMonitor {
  cursor: pointer;
  top: 10px;
  right: 25px;
  left: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 700px;
  height: 350px;
  position: absolute;
  background-image: url(../playerone/img/mainlabmonitor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnHugeMonitor:hover {
  background-image: url(../playerone/img/mainlabmonitorhl.webp);
}
.mainLabMonitor .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabMonitor .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabMonitor .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabMonitor .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabMonitor .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabMonitor .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* mainlab whiteboard */
.mainLabWhiteboard {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabwhiteboard.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWhiteboard .btnNoteVirus {
  cursor: pointer;
  top: 130px;
  left: 300px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 680px;
  height: 400px;
  position: absolute;
  background-image: url(../playerone/img/chemicalevidence.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnNoteVirus:hover {
  background-image: url(../playerone/img/checmicalevidencehl.webp);
}
.mainLabWhiteboard .btnNoteMom {
  cursor: pointer;
  bottom: 160px;
  right: 280px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 60px;
  position: absolute;
  background-image: url(../playerone/img/mombirthday.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnNoteMom:hover {
  background-image: url(../playerone/img/mombirthdayhl.webp);
}
.mainLabWhiteboard .btnNoteTrash {
  cursor: pointer;
  top: 130px;
  left: 330px;
  transform: rotate(350deg);
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 130px;
  height: 245px;
  position: absolute;
  background-image: url(../playerone/img/trashnote.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnNoteTrash:hover {
  background-image: url(../playerone/img/trashnotehl.webp);
}

.mainLabWhiteboard .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWhiteboard .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabWhiteboard .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWhiteboard .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabWhiteboard .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabWhiteboard .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* main lab photos */
.mainLabPhotos {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/mainlabphoto.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabPhotos .btnPhotoFrames {
  cursor: pointer;
  top: 100px;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 750px;
  height: 500px;
  position: absolute;
  background-image: url(../playerone/img/mainlabphotos.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.btnPhotoFrames:hover {
  background-image: url(../playerone/img/mainlabphotoshl.webp);
}

.mainLabPhotos .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabPhotos .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.mainLabPhotos .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabPhotos .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}

.mainLabPhotos .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.mainLabPhotos .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* * ini jalur ke kiri */
/* gerbang gede ke lobby */
.act01 .gate05aBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/gate05a.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05aClueBG {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 800px;
  height: 550px;
  top: 50px;
  position: absolute;
  background-image: url(../playerone/img/gate05aclue.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05aBG .btnGateIpad {
  cursor: pointer;
  top: 310px;
  right: 0;
  left: 230px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 65px;
  position: absolute;
  background-image: url(../playerone/img/gateipad.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05aBG .btnGateIpad:hover {
  background-image: url(../playerone/img/gateipadhl.webp);
}
.gate05aBG .btnGate {
  cursor: pointer;
  top: 390px;
  right: 250px;
  left: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 35px;
  position: absolute;
  background-image: url(../playerone/img/btngate.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05aBG .btnGate:hover {
  background-image: url(../playerone/img/btngatehl.webp);
}

.gate05aBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05aBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* ini pertigaan abis buka gate 05a  */
.act01 .labSectionBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/labsection.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labSectionBG .btnUp {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labSectionBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.labSectionBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 250px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labSectionBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.labSectionBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.labSectionBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini gate05b yang belok kiri buat ke specimen room  */
.act01 .gate05bBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/gate05b.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05bClueBG {
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 800px;
  height: 550px;
  top: 50px;
  position: absolute;
  background-image: url(../playerone/img/gate05bclue.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05bBG .btnGateIpad {
  cursor: pointer;
  top: 320px;
  right: 0;
  left: 230px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 65px;
  position: absolute;
  background-image: url(../playerone/img/gateipad.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05bBG .btnGateIpad:hover {
  background-image: url(../playerone/img/gateipadhl.webp);
}
.gate05bBG .btnGate {
  cursor: pointer;
  top: 390px;
  right: 250px;
  left: 0;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 35px;
  position: absolute;
  background-image: url(../playerone/img/btngate.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05bBG .btnGate:hover {
  background-image: url(../playerone/img/btngatehl.webp);
}

.gate05bBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.gate05bBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/* ini yang buat masuk ke specimen room */
.act01 .specimenGateBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimengate.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenGateBG .btnProfessor {
  cursor: pointer;
  bottom: 100px;
  right: 0;
  left: 600px;
  text-align: center;
  margin: 0 auto;
  width: 95px;
  height: 315px;
  position: absolute;
  background-image: url(../playerone/img/professor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenGateBG .btnProfessor:hover {
  width: 108px;
  height: 330px;
  background-image: url(../playerone/img/professorhl.webp);
}
.specimenGateBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenGateBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenGateBG .btnGate {
  cursor: pointer;
  top: 227px;
  left: 0;
  right: -30px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 350px;
  position: absolute;
  background-image: url(../playerone/img/bigdoor.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenGateBG .btnGate:hover {
  background-image: url(../playerone/img/bigdoorhl.webp);
}

/* ini room specimen pertama  */
.act01 .specimenRoomOneBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom1.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomOneBG .btnUp {
  right: 0;
  left: 350px;
  top: 100px;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomOneBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.specimenRoomOneBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomOneBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenRoomOneBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomOneBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomOneBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomOneBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini room specimen kedua  */
.act01 .specimenRoomTwoBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom2.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomTwoBG .btnUp {
  right: 0;
  left: 200px;
  top: 50px;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomTwoBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.specimenRoomTwoBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomTwoBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenRoomTwoBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomTwoBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomTwoBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomTwoBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini room specimen ketiga  */
.act01 .specimenRoomThreeBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom3.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomThreeBG .btnUp {
  right: 200px;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomThreeBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.specimenRoomThreeBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomThreeBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenRoomThreeBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomThreeBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomThreeBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomThreeBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini room specimen keempat  */
.act01 .specimenRoomFourBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom4.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFourBG .btnUp {
  right: 0;
  left: 100px;
  top: 50px;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFourBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.specimenRoomFourBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFourBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenRoomFourBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFourBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomFourBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFourBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini room specimen kelima  */
.act01 .specimenRoomFiveBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom5.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFiveBG .btnUp {
  right: 350px;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  background-image: url(../playerone/img/upbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFiveBG .btnUp:hover {
  background-image: url(../playerone/img/upbtnhl.webp);
}
.specimenRoomFiveBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFiveBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}
.specimenRoomFiveBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFiveBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomFiveBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomFiveBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}
/* ini room specimen keenam  */
.act01 .specimenRoomSixBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../playerone/bg/specimenroom6.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomSixBG .btnTube {
  cursor: pointer;
  top: 320px;
  right: 82px;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 35px;
  height: 85px;
  position: absolute;
  background-image: url(../playerone/img/virustube.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomSixBG .btnTube:hover {
  background-image: url(../playerone/img/virustubehl.webp);
}
.specimenRoomSixBG .btnLeft {
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/leftbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomSixBG .btnLeft:hover {
  background-image: url(../playerone/img/leftbtnhl.webp);
}

.specimenRoomSixBG .btnRight {
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 25px;
  text-align: center;
  margin: auto 0;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../playerone/img/backbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomSixBG .btnRight:hover {
  background-image: url(../playerone/img/backbtnhl.webp);
}
.specimenRoomSixBG .btnDown {
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-image: url(../playerone/img/downbtn.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.specimenRoomSixBG .btnDown:hover {
  background-image: url(../playerone/img/downbtnhl.webp);
}

/*! ini final stage */
.finalStage {
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 720px;
  position: absolute;
}
/* waiting for other players */
.finalStage .finalPromptBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../final/bg/finalprompt.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .promptMenu {
  visibility: hidden;
  opacity: 0;
}
.finalPromptBG .promptTitle {
  z-index: 5;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
  position: absolute;
  background-image: url(../final/img/prompttext.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .playerFrame {
  z-index: 5;
  font-family: "Ailerons";
  color: #00374b;
  top: 140px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 420px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalChoiceMenu .playerFrame{
  cursor: pointer;
}
.playerFrame .playerName {
  font-size: 36px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 95px;
}
.playerFrame.framePlayerOne {
  left: 100px;
  background-image: url(../final/img/a.webp);
}
.playerFrame.framePlayerTwo {
  left: 0;
  right: 0;
  background-image: url(../final/img/b.webp);
}
.playerFrame.framePlayerThree {
  right: 100px;
  background-image: url(../final/img/c.webp);
}

.finalPromptBG .playerIndicator {
  z-index: 5;
  top: 570px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  position: absolute;
  background-image: url(../final/img/finalindicator.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.playerIndicator.indicatorPlayerOne {
  left: 100px;
}
.playerIndicator.indicatorPlayerTwo {
  right: 0;
  left: 0;
}
.playerIndicator.indicatorPlayerThree {
  right: 100px;
}

.playerIndicator .indicatorLight {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 295px;
  height: 35px;
  border-radius: 10px;
  background-color: #d96368;
}

.finalPromptBG .btnStart {
  z-index: 5;
  cursor: pointer;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  position: absolute;
  background-image: url(../final/img/finalstart.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalPromptBG .btnStart:hover {
  background-image: url(../final/img/finalstarthl.webp);
}
/* final choice */
.finalStage .podStationBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../final/bg/finalchoice.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalStage .finalChoiceMenu {
  visibility: hidden;
  opacity: 0;
}
.podStationBG .choiceTitle {
  z-index: 5;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
  position: absolute;
  background-image: url(../final/img/choicetext.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.podStationBG .btnConfirm {
  z-index: 5;
  cursor: pointer;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  position: absolute;
  background-image: url(../final/img/finalconfirm.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.podStationBG .btnConfirm:hover {
  background-image: url(../final/img/finalconfirmhl.webp);
}

/* jeng jeng jeng jeng */
.finalStage .finalWaitBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00374b;
}
.finalWaitBG .waitTitle {
  z-index: 5;
  font-size: 50px;
  font-family: "Ailerons";
  color: #eee;
  text-align: center;
  margin: 0 auto;
  top: 240px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 1000px;
  height: 120px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalWaitBG .btnContinue {
  visibility: hidden;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
  bottom: 200px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  position: absolute;
  background-image: url(../final/img/continue.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}
.finalWaitBG .btnContinue:hover {
  background-image: url(../final/img/continuehl.webp);
}
.finalStage .finalTransitionBG {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00374b;
}
.videoCase {
  z-index: 6;
  width: 1280px;
  height: 720px;
  visibility: hidden;
  opacity: 0;
}
#vidA,
#vidB {
  position: absolute;
  left: 0;
  z-index: 6;
  width: 1280px;
  height: 720px;
  visibility: hidden;
  opacity: 0;
}

.openingVideoBG {
  z-index: 100;
  position: absolute;
}
video::-webkit-media-controls {
  display: none;
}
